:root {
    --primary-color: #2c3e50;
    --secondary-color: #20638f;
    --background-color: #f4f4f4;
    --text-color: #333;
  }
  
  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: var(--background-color);
      color: var(--text-color);
  }