/* Styles specific to the dashboard */
.dashboard-container {
    width: 100%;
    flex : 1;
    display: flex;
}

.main-content {
    flex: 1;
    min-width: 0; /* This allows the flex item to shrink below its content size */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Styles specific to the add habit */
.add-habit-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-habit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-habit-form input[type="text"],
.add-habit-form textarea,
.add-habit-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.1rem;
}

.add-habit-form textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.habit-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.habit-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.habit-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.even {
    background-color: #ebebeb;
}
.odd {
    background-color: #e0e0e0;
}

.habit-info {
    height : auto;
    padding: 20px;
    word-wrap: break-word !important;
    text-wrap: break-word !important;
    word-break: break-all !important;
}

.habit-description {
    word-wrap: break-word !important;
    text-wrap: break-word !important;
    word-break: break-all !important;
}

.habit-actions {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.complete-btn, .delete-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.complete-btn {
    background-color: #4CAF50;
    color: white;
}

.complete-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.status {
    height: auto;
    max-width: 200px;
    width: auto;
    text-align: center;
    font-size: 0.8em;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
}

.status.completed {
    background-color: #4CAF50;
    color: white;
}

.status.pending {
    background-color: #FFA500;
    color: white;
}



/* Styles specific to the habit history */
/* habit history */
.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.stat-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 400px;
}
.stat-box h3 {
    margin-top: 0;
    color: #333;
}
.stat-box p {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 0;
    color: #3498db;
}

@media (max-width: 768px) {
    .stat-box {
        min-width: 200px;
    }
}